@use 'variables' as v;

.btn {
  padding: 10px 20px;
  border-radius: v.$border-radius-sm;
  font-size: v.$font-size-base;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &.btn-primary {
    background-color: v.$primary-color;
    color: white;
    border: none;
  }

  &.btn-secondary {
    background-color: v.$secondary-color;
    color: white;
    border: none;
  }

  &.btn-danger {
    background-color: v.$error-color;
    color: white;
    border: none;
  }

  &.btn-warning {
    background-color: v.$warning-color;
    color: white;
    border: none;
  }
}
