@use 'variables' as v;

input, textarea {
  border: v.$border-width-thin solid v.$secondary-color;
  padding: 10px;
  font-size: v.$font-size-base;
  border-radius: v.$border-radius-sm;
}

label {
  font-weight: v.$font-weight-bold;
}