@use 'variables' as v;

// Margins
.m-0 { margin: 0; }
.m-1 { margin: 5px; }
.m-2 { margin: 10px; }

// Padding
.p-0 { padding: 0; }
.p-1 { padding: 5px; }
.p-2 { padding: 10px; }

// Font sizes
.fs-small { font-size: v.$font-size-small; }
.fs-medium { font-size: v.$font-size-base; }
.fs-large { font-size: v.$font-size-large; }

// Font weight
.fw-light { font-weight: v.$font-weight-light; }
.fw-normal { font-weight: v.$font-weight-normal; }
.fw-bold { font-weight: v.$font-weight-bold; }

// Borders
.border { border: v.$border-width-thin solid v.$primary-color; }
.border-none { border: none; }
.border-thin { border: v.$border-width-thin solid v.$secondary-color; }
.border-thick { border: v.$border-width-thick solid v.$primary-color; }
.border-rounded { border-radius: v.$border-radius-sm; }
.border-circle { border-radius: 50%; }